USE [master]
GO
/****** Object:  Database [dbQLTSL]    Script Date: 2017-09-26 3:04:27 PM ******/
CREATE DATABASE [dbQLTSL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbQLTSL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbQLTSL.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbQLTSL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbQLTSL_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbQLTSL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbQLTSL]
GO
/****** Object:  Table [dbo].[DON_VI]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_VI](
	[ID_DONVI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DONVI] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[ID_KHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[ID_NHOMKHACHHANG] [int] NOT NULL,
	[ID_VUNGKETNOI] [int] NOT NULL,
	[ID_LOAIDICHVU] [int] NOT NULL,
	[ID_TRANGTHAI] [int] NOT NULL,
	[TEN_KHACHHANG] [nvarchar](max) NULL,
	[SVLAN] [int] NULL,
	[CVLAN] [int] NULL,
	[IPLAN] [varchar](50) NULL,
	[IPWAN] [varchar](50) NULL,
	[IPGATEWAY] [varchar](50) NULL,
	[THOIGIAN_CUNGCAP] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG_THIETBI]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG_THIETBI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_KHACHHANG] [int] NOT NULL,
	[ID_THIETBI] [int] NOT NULL,
	[TOCDO] [varchar](50) NOT NULL,
	[CONG] [varchar](50) NOT NULL,
 CONSTRAINT [PK_KHACHHANG_THIETBI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI_DICHVU]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_DICHVU](
	[ID_LOAI_DICHVU] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAI_DICHVU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAI_DICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOI_DUNG]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_DUNG](
	[ID_NGUOIDUNG] [int] IDENTITY(1,1) NOT NULL,
	[ID_DONVI] [int] NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[SDT] [int] NULL,
 CONSTRAINT [PK__NGUOI_DU__63AAF5E1017EA8B9] PRIMARY KEY CLUSTERED 
(
	[ID_NGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOI_DUNG_QUYEN]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_DUNG_QUYEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_QUYEN] [int] NULL,
	[ID_NGUOIDUNG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOM_KHACH_HANG]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM_KHACH_HANG](
	[ID_NHOMKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TEN_NHOMKHACHHANG] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NHOMKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[ID_QUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TEN_QUYEN] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THIET_BI]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIET_BI](
	[ID_THIETBI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_THIETBI] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_THIETBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANG_THAI]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANG_THAI](
	[ID_TRANGTHAI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_TRANGTHAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VUNGKETNOI]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VUNGKETNOI](
	[ID_VUNGKETNOI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_VUNGKETNOI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VUNGKETNOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DON_VI] ON 

INSERT [dbo].[DON_VI] ([ID_DONVI], [TEN_DONVI]) VALUES (1, N'TTVT 5')
INSERT [dbo].[DON_VI] ([ID_DONVI], [TEN_DONVI]) VALUES (2, N'TTVT 4')
INSERT [dbo].[DON_VI] ([ID_DONVI], [TEN_DONVI]) VALUES (3, N'TTVT 3')
SET IDENTITY_INSERT [dbo].[DON_VI] OFF
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([ID_KHACHHANG], [ID_NHOMKHACHHANG], [ID_VUNGKETNOI], [ID_LOAIDICHVU], [ID_TRANGTHAI], [TEN_KHACHHANG], [SVLAN], [CVLAN], [IPLAN], [IPWAN], [IPGATEWAY], [THOIGIAN_CUNGCAP]) VALUES (1, 1, 1, 1, 1, N'1', 1, 1, N'1', N'1', N'1', CAST(N'2017-09-21 00:00:00.000' AS DateTime))
INSERT [dbo].[KHACH_HANG] ([ID_KHACHHANG], [ID_NHOMKHACHHANG], [ID_VUNGKETNOI], [ID_LOAIDICHVU], [ID_TRANGTHAI], [TEN_KHACHHANG], [SVLAN], [CVLAN], [IPLAN], [IPWAN], [IPGATEWAY], [THOIGIAN_CUNGCAP]) VALUES (2, 1, 1, 1, 1, N'1', 1, 1, N'1', N'1', N'1', CAST(N'2017-09-15 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG_THIETBI] ON 

INSERT [dbo].[KHACHHANG_THIETBI] ([ID], [ID_KHACHHANG], [ID_THIETBI], [TOCDO], [CONG]) VALUES (3, 1, 3, N'1', N'1')
INSERT [dbo].[KHACHHANG_THIETBI] ([ID], [ID_KHACHHANG], [ID_THIETBI], [TOCDO], [CONG]) VALUES (4, 1, 2, N'123412', N'142233')
INSERT [dbo].[KHACHHANG_THIETBI] ([ID], [ID_KHACHHANG], [ID_THIETBI], [TOCDO], [CONG]) VALUES (7, 1, 1, N'34', N'34')
SET IDENTITY_INSERT [dbo].[KHACHHANG_THIETBI] OFF
SET IDENTITY_INSERT [dbo].[LOAI_DICHVU] ON 

INSERT [dbo].[LOAI_DICHVU] ([ID_LOAI_DICHVU], [TEN_LOAI_DICHVU]) VALUES (1, N'Metronet 2')
INSERT [dbo].[LOAI_DICHVU] ([ID_LOAI_DICHVU], [TEN_LOAI_DICHVU]) VALUES (2, N'MegaWAN 2')
SET IDENTITY_INSERT [dbo].[LOAI_DICHVU] OFF
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG] ON 

INSERT [dbo].[NGUOI_DUNG] ([ID_NGUOIDUNG], [ID_DONVI], [USERNAME], [PASSWORD], [HO_TEN], [SDT]) VALUES (1, 1, N'admin', N'admin', N'admin', 1)
INSERT [dbo].[NGUOI_DUNG] ([ID_NGUOIDUNG], [ID_DONVI], [USERNAME], [PASSWORD], [HO_TEN], [SDT]) VALUES (3, 2, N'1', N'12345678', N'1', 1)
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG] OFF
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG_QUYEN] ON 

INSERT [dbo].[NGUOI_DUNG_QUYEN] ([ID], [ID_QUYEN], [ID_NGUOIDUNG]) VALUES (10, 1, 1)
INSERT [dbo].[NGUOI_DUNG_QUYEN] ([ID], [ID_QUYEN], [ID_NGUOIDUNG]) VALUES (11, 2, 1)
INSERT [dbo].[NGUOI_DUNG_QUYEN] ([ID], [ID_QUYEN], [ID_NGUOIDUNG]) VALUES (12, 1, 3)
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG_QUYEN] OFF
SET IDENTITY_INSERT [dbo].[NHOM_KHACH_HANG] ON 

INSERT [dbo].[NHOM_KHACH_HANG] ([ID_NHOMKHACHHANG], [TEN_NHOMKHACHHANG]) VALUES (1, N'Agribank')
SET IDENTITY_INSERT [dbo].[NHOM_KHACH_HANG] OFF
SET IDENTITY_INSERT [dbo].[QUYEN] ON 

INSERT [dbo].[QUYEN] ([ID_QUYEN], [TEN_QUYEN]) VALUES (1, N'Xem')
INSERT [dbo].[QUYEN] ([ID_QUYEN], [TEN_QUYEN]) VALUES (2, N'Thêm Sửa Xóa')
SET IDENTITY_INSERT [dbo].[QUYEN] OFF
SET IDENTITY_INSERT [dbo].[THIET_BI] ON 

INSERT [dbo].[THIET_BI] ([ID_THIETBI], [TEN_THIETBI]) VALUES (1, N'thiet bi 1')
INSERT [dbo].[THIET_BI] ([ID_THIETBI], [TEN_THIETBI]) VALUES (2, N'thiet bi 2')
INSERT [dbo].[THIET_BI] ([ID_THIETBI], [TEN_THIETBI]) VALUES (3, N'thiet bi 3')
SET IDENTITY_INSERT [dbo].[THIET_BI] OFF
SET IDENTITY_INSERT [dbo].[TRANG_THAI] ON 

INSERT [dbo].[TRANG_THAI] ([ID_TRANGTHAI], [TEN_TRANGTHAI]) VALUES (1, N'oke tt 2')
SET IDENTITY_INSERT [dbo].[TRANG_THAI] OFF
SET IDENTITY_INSERT [dbo].[VUNGKETNOI] ON 

INSERT [dbo].[VUNGKETNOI] ([ID_VUNGKETNOI], [TEN_VUNGKETNOI]) VALUES (1, N'Nội tỉnh')
INSERT [dbo].[VUNGKETNOI] ([ID_VUNGKETNOI], [TEN_VUNGKETNOI]) VALUES (2, N'Liên tỉnh nội vùng')
INSERT [dbo].[VUNGKETNOI] ([ID_VUNGKETNOI], [TEN_VUNGKETNOI]) VALUES (3, N'Liên tỉnh cách vùng')
SET IDENTITY_INSERT [dbo].[VUNGKETNOI] OFF
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_LOAI_DICHVU] FOREIGN KEY([ID_LOAIDICHVU])
REFERENCES [dbo].[LOAI_DICHVU] ([ID_LOAI_DICHVU])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_LOAI_DICHVU]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_NHOM_KHACH_HANG] FOREIGN KEY([ID_NHOMKHACHHANG])
REFERENCES [dbo].[NHOM_KHACH_HANG] ([ID_NHOMKHACHHANG])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_NHOM_KHACH_HANG]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_TRANG_THAI] FOREIGN KEY([ID_TRANGTHAI])
REFERENCES [dbo].[TRANG_THAI] ([ID_TRANGTHAI])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_TRANG_THAI]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_VUNGKETNOI] FOREIGN KEY([ID_VUNGKETNOI])
REFERENCES [dbo].[VUNGKETNOI] ([ID_VUNGKETNOI])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_VUNGKETNOI]
GO
ALTER TABLE [dbo].[KHACHHANG_THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_THIETBI_KHACH_HANG] FOREIGN KEY([ID_KHACHHANG])
REFERENCES [dbo].[KHACH_HANG] ([ID_KHACHHANG])
GO
ALTER TABLE [dbo].[KHACHHANG_THIETBI] CHECK CONSTRAINT [FK_KHACHHANG_THIETBI_KHACH_HANG]
GO
ALTER TABLE [dbo].[KHACHHANG_THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_THIETBI_THIET_BI] FOREIGN KEY([ID_THIETBI])
REFERENCES [dbo].[THIET_BI] ([ID_THIETBI])
GO
ALTER TABLE [dbo].[KHACHHANG_THIETBI] CHECK CONSTRAINT [FK_KHACHHANG_THIETBI_THIET_BI]
GO
ALTER TABLE [dbo].[NGUOI_DUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOI_DUNG_DON_VI] FOREIGN KEY([ID_DONVI])
REFERENCES [dbo].[DON_VI] ([ID_DONVI])
GO
ALTER TABLE [dbo].[NGUOI_DUNG] CHECK CONSTRAINT [FK_NGUOI_DUNG_DON_VI]
GO
ALTER TABLE [dbo].[NGUOI_DUNG_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_NGUOI_DUNG_QUYEN_NGUOI_DUNG] FOREIGN KEY([ID_NGUOIDUNG])
REFERENCES [dbo].[NGUOI_DUNG] ([ID_NGUOIDUNG])
GO
ALTER TABLE [dbo].[NGUOI_DUNG_QUYEN] CHECK CONSTRAINT [FK_NGUOI_DUNG_QUYEN_NGUOI_DUNG]
GO
ALTER TABLE [dbo].[NGUOI_DUNG_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_NGUOI_DUNG_QUYEN_QUYEN] FOREIGN KEY([ID_QUYEN])
REFERENCES [dbo].[QUYEN] ([ID_QUYEN])
GO
ALTER TABLE [dbo].[NGUOI_DUNG_QUYEN] CHECK CONSTRAINT [FK_NGUOI_DUNG_QUYEN_QUYEN]
GO
/****** Object:  StoredProcedure [dbo].[NGUOI_DUNG_QUYEN_GetBy_ID_NGUOIDUNG]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[NGUOI_DUNG_QUYEN_GetBy_ID_NGUOIDUNG] 
@ID_NGUOIDUNG int
AS 
SELECT
[NGUOI_DUNG_QUYEN].[ID]
,[NGUOI_DUNG_QUYEN].[ID_NGUOIDUNG]
,[NGUOI_DUNG_QUYEN].[ID_QUYEN]
,[NGUOI_DUNGJoin].[HO_TEN] as [HO_TEN_NGUOI_DUNGJoin]
,[NGUOI_DUNGJoin].[ID_DONVI] as [ID_DONVI_NGUOI_DUNGJoin]
,[NGUOI_DUNGJoin].[SDT] as [SDT_NGUOI_DUNGJoin]
,[NGUOI_DUNGJoin].[USERNAME] as [USERNAME_NGUOI_DUNGJoin]
,[QUYENJoin].[TEN_QUYEN] as [TEN_QUYEN_QUYENJoin] FROM [NGUOI_DUNG_QUYEN] as [NGUOI_DUNG_QUYEN] 
    
join [NGUOI_DUNG] as [NGUOI_DUNGJoin] on [NGUOI_DUNG_QUYEN].[ID_NGUOIDUNG] = [NGUOI_DUNGJoin].[ID_NGUOIDUNG]
join [QUYEN] as [QUYENJoin] on [NGUOI_DUNG_QUYEN].[ID_QUYEN] = [QUYENJoin].[ID_QUYEN] 
where [NGUOI_DUNG_QUYEN].ID_NGUOIDUNG = @ID_NGUOIDUNG
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckLogin]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CheckLogin]
@USERNAME nvarchar(50)
,@PASSWORD nvarchar(50)
AS SELECT 
[NGUOI_DUNG].[HO_TEN]
,[NGUOI_DUNG].[ID_DONVI]
,[NGUOI_DUNG].[ID_NGUOIDUNG]
,[NGUOI_DUNG].[SDT]
,[NGUOI_DUNG].[USERNAME]
,[DON_VIJoin].[TEN_DONVI] as [TEN_DONVI_DON_VIJoin] FROM [NGUOI_DUNG] as [NGUOI_DUNG] 
    
join [DON_VI] as [DON_VIJoin] on [NGUOI_DUNG].[ID_DONVI] = [DON_VIJoin].[ID_DONVI] 

 WHERE [USERNAME] = @USERNAME AND [PASSWORD] = @PASSWORD 

GO
/****** Object:  StoredProcedure [dbo].[SP_DON_VI_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_DON_VI_Delete]
  @ID_DONVI int
AS BEGIN
	DELETE dbo.NGUOI_DUNG_QUYEN WHERE ID_NGUOIDUNG IN (SELECT ID_NGUOIDUNG FROM dbo.NGUOI_DUNG WHERE ID_DONVI = @ID_DONVI)
	DELETE dbo.NGUOI_DUNG WHERE  ID_DONVI = @ID_DONVI
    DELETE [DON_VI] WHERE    [ID_DONVI] = @ID_DONVI 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_DON_VI_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_DON_VI_GetAll]
AS BEGIN
    SELECT 
[DON_VI].[ID_DONVI]
,[DON_VI].[TEN_DONVI] FROM [DON_VI] as [DON_VI] 
     
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_DON_VI_GetByID_DONVI]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_DON_VI_GetByID_DONVI]
@ID_DONVI int
AS BEGIN
    SELECT 
    
[DON_VI].[ID_DONVI]
,[DON_VI].[TEN_DONVI] 
    FROM [DON_VI] as [DON_VI] 
     
     WHERE [DON_VI].[ID_DONVI] = @ID_DONVI 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_DON_VI_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_DON_VI_Insert]
 @TEN_DONVI nvarchar(255)
AS BEGIN
    INSERT INTO [DON_VI](  [TEN_DONVI]) VALUES( @TEN_DONVI)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_DON_VI_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_DON_VI_Update]
 @ID_DONVI int, @TEN_DONVI nvarchar(255)
AS BEGIN
    UPDATE [DON_VI] SET  [TEN_DONVI] = @TEN_DONVI WHERE   [ID_DONVI] = @ID_DONVI
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACH_HANG_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACH_HANG_Delete]
  @ID_KHACHHANG int
AS BEGIN
DELETE dbo.KHACHHANG_THIETBI WHERE ID_KHACHHANG = @ID_KHACHHANG
    DELETE [KHACH_HANG] WHERE    [ID_KHACHHANG] = @ID_KHACHHANG 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACH_HANG_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACH_HANG_GetAll]
AS BEGIN
    SELECT 
[KHACH_HANG].[CVLAN]
,[KHACH_HANG].[ID_KHACHHANG]
,[KHACH_HANG].[ID_LOAIDICHVU]
,[KHACH_HANG].[ID_NHOMKHACHHANG]
,[KHACH_HANG].[ID_TRANGTHAI]
,[KHACH_HANG].[ID_VUNGKETNOI]
,[KHACH_HANG].[IPGATEWAY]
,[KHACH_HANG].[IPLAN]
,[KHACH_HANG].[IPWAN]
,[KHACH_HANG].[SVLAN]
,[KHACH_HANG].[TEN_KHACHHANG]
,[KHACH_HANG].[THOIGIAN_CUNGCAP]
,[LOAI_DICHVUJoin].[TEN_LOAI_DICHVU] as [TEN_LOAI_DICHVU_LOAI_DICHVUJoin]
,[NHOM_KHACH_HANGJoin].[TEN_NHOMKHACHHANG] as [TEN_NHOMKHACHHANG_NHOM_KHACH_HANGJoin]
,[TRANG_THAIJoin].[TEN_TRANGTHAI] as [TEN_TRANGTHAI_TRANG_THAIJoin]
,[VUNGKETNOIJoin].[TEN_VUNGKETNOI] as [TEN_VUNGKETNOI_VUNGKETNOIJoin] FROM [KHACH_HANG] as [KHACH_HANG] 
    
join [LOAI_DICHVU] as [LOAI_DICHVUJoin] on [KHACH_HANG].[ID_LOAIDICHVU] = [LOAI_DICHVUJoin].[ID_LOAI_DICHVU]
join [NHOM_KHACH_HANG] as [NHOM_KHACH_HANGJoin] on [KHACH_HANG].[ID_NHOMKHACHHANG] = [NHOM_KHACH_HANGJoin].[ID_NHOMKHACHHANG]
join [TRANG_THAI] as [TRANG_THAIJoin] on [KHACH_HANG].[ID_TRANGTHAI] = [TRANG_THAIJoin].[ID_TRANGTHAI]
join [VUNGKETNOI] as [VUNGKETNOIJoin] on [KHACH_HANG].[ID_VUNGKETNOI] = [VUNGKETNOIJoin].[ID_VUNGKETNOI] 
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACH_HANG_GetByID_KHACHHANG]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACH_HANG_GetByID_KHACHHANG]
@ID_KHACHHANG int
AS BEGIN
    SELECT 
    
[KHACH_HANG].[CVLAN]
,[KHACH_HANG].[ID_KHACHHANG]
,[KHACH_HANG].[ID_LOAIDICHVU]
,[KHACH_HANG].[ID_NHOMKHACHHANG]
,[KHACH_HANG].[ID_TRANGTHAI]
,[KHACH_HANG].[ID_VUNGKETNOI]
,[KHACH_HANG].[IPGATEWAY]
,[KHACH_HANG].[IPLAN]
,[KHACH_HANG].[IPWAN]
,[KHACH_HANG].[SVLAN]
,[KHACH_HANG].[TEN_KHACHHANG]
,[KHACH_HANG].[THOIGIAN_CUNGCAP]
,[LOAI_DICHVUJoin].[TEN_LOAI_DICHVU] as [TEN_LOAI_DICHVU_LOAI_DICHVUJoin]
,[NHOM_KHACH_HANGJoin].[TEN_NHOMKHACHHANG] as [TEN_NHOMKHACHHANG_NHOM_KHACH_HANGJoin]
,[TRANG_THAIJoin].[TEN_TRANGTHAI] as [TEN_TRANGTHAI_TRANG_THAIJoin]
,[VUNGKETNOIJoin].[TEN_VUNGKETNOI] as [TEN_VUNGKETNOI_VUNGKETNOIJoin] 
    FROM [KHACH_HANG] as [KHACH_HANG] 
    
join [LOAI_DICHVU] as [LOAI_DICHVUJoin] on [KHACH_HANG].[ID_LOAIDICHVU] = [LOAI_DICHVUJoin].[ID_LOAI_DICHVU]
join [NHOM_KHACH_HANG] as [NHOM_KHACH_HANGJoin] on [KHACH_HANG].[ID_NHOMKHACHHANG] = [NHOM_KHACH_HANGJoin].[ID_NHOMKHACHHANG]
join [TRANG_THAI] as [TRANG_THAIJoin] on [KHACH_HANG].[ID_TRANGTHAI] = [TRANG_THAIJoin].[ID_TRANGTHAI]
join [VUNGKETNOI] as [VUNGKETNOIJoin] on [KHACH_HANG].[ID_VUNGKETNOI] = [VUNGKETNOIJoin].[ID_VUNGKETNOI] 
     WHERE [KHACH_HANG].[ID_KHACHHANG] = @ID_KHACHHANG 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACH_HANG_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACH_HANG_Insert]
 @CVLAN int, @ID_LOAIDICHVU int, @ID_NHOMKHACHHANG int, @ID_TRANGTHAI int, @ID_VUNGKETNOI int, @IPGATEWAY varchar(50), @IPLAN varchar(50), @IPWAN varchar(50), @SVLAN int, @TEN_KHACHHANG nvarchar(MAX), @THOIGIAN_CUNGCAP datetime
AS BEGIN
    INSERT INTO [KHACH_HANG](  [CVLAN] , [ID_LOAIDICHVU] , [ID_NHOMKHACHHANG] , [ID_TRANGTHAI] , [ID_VUNGKETNOI] , [IPGATEWAY] , [IPLAN] , [IPWAN] , [SVLAN] , [TEN_KHACHHANG] , [THOIGIAN_CUNGCAP]) VALUES( @CVLAN, @ID_LOAIDICHVU, @ID_NHOMKHACHHANG, @ID_TRANGTHAI, @ID_VUNGKETNOI, @IPGATEWAY, @IPLAN, @IPWAN, @SVLAN, @TEN_KHACHHANG, @THOIGIAN_CUNGCAP)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACH_HANG_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACH_HANG_Update]
 @CVLAN int, @ID_KHACHHANG int, @ID_LOAIDICHVU int, @ID_NHOMKHACHHANG int, @ID_TRANGTHAI int, @ID_VUNGKETNOI int, @IPGATEWAY varchar(50), @IPLAN varchar(50), @IPWAN varchar(50), @SVLAN int, @TEN_KHACHHANG nvarchar(MAX), @THOIGIAN_CUNGCAP datetime
AS BEGIN
    UPDATE [KHACH_HANG] SET  [CVLAN] = @CVLAN, [ID_LOAIDICHVU] = @ID_LOAIDICHVU, [ID_NHOMKHACHHANG] = @ID_NHOMKHACHHANG, [ID_TRANGTHAI] = @ID_TRANGTHAI, [ID_VUNGKETNOI] = @ID_VUNGKETNOI, [IPGATEWAY] = @IPGATEWAY, [IPLAN] = @IPLAN, [IPWAN] = @IPWAN, [SVLAN] = @SVLAN, [TEN_KHACHHANG] = @TEN_KHACHHANG, [THOIGIAN_CUNGCAP] = @THOIGIAN_CUNGCAP WHERE   [ID_KHACHHANG] = @ID_KHACHHANG
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACHHANG_THIETBI_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACHHANG_THIETBI_Delete]
  @ID int
AS BEGIN
    DELETE [KHACHHANG_THIETBI] WHERE    [ID] = @ID 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACHHANG_THIETBI_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACHHANG_THIETBI_GetAll]
AS BEGIN
    SELECT 
[KHACHHANG_THIETBI].[CONG]
,[KHACHHANG_THIETBI].[ID]
,[KHACHHANG_THIETBI].[ID_KHACHHANG]
,[KHACHHANG_THIETBI].[ID_THIETBI]
,[KHACHHANG_THIETBI].[TOCDO]
,[KHACH_HANGJoin].[CVLAN] as [CVLAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_LOAIDICHVU] as [ID_LOAIDICHVU_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_NHOMKHACHHANG] as [ID_NHOMKHACHHANG_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_TRANGTHAI] as [ID_TRANGTHAI_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_VUNGKETNOI] as [ID_VUNGKETNOI_KHACH_HANGJoin]
,[KHACH_HANGJoin].[IPGATEWAY] as [IPGATEWAY_KHACH_HANGJoin]
,[KHACH_HANGJoin].[IPLAN] as [IPLAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[IPWAN] as [IPWAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[SVLAN] as [SVLAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[TEN_KHACHHANG] as [TEN_KHACHHANG_KHACH_HANGJoin]
,[KHACH_HANGJoin].[THOIGIAN_CUNGCAP] as [THOIGIAN_CUNGCAP_KHACH_HANGJoin]
,[THIET_BIJoin].[TEN_THIETBI] as [TEN_THIETBI_THIET_BIJoin] FROM [KHACHHANG_THIETBI] as [KHACHHANG_THIETBI] 
    
join [KHACH_HANG] as [KHACH_HANGJoin] on [KHACHHANG_THIETBI].[ID_KHACHHANG] = [KHACH_HANGJoin].[ID_KHACHHANG]
join [THIET_BI] as [THIET_BIJoin] on [KHACHHANG_THIETBI].[ID_THIETBI] = [THIET_BIJoin].[ID_THIETBI] 
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACHHANG_THIETBI_GetByID]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACHHANG_THIETBI_GetByID]
@ID int
AS BEGIN
    SELECT 
    
[KHACHHANG_THIETBI].[CONG]
,[KHACHHANG_THIETBI].[ID]
,[KHACHHANG_THIETBI].[ID_KHACHHANG]
,[KHACHHANG_THIETBI].[ID_THIETBI]
,[KHACHHANG_THIETBI].[TOCDO]
,[KHACH_HANGJoin].[CVLAN] as [CVLAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_LOAIDICHVU] as [ID_LOAIDICHVU_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_NHOMKHACHHANG] as [ID_NHOMKHACHHANG_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_TRANGTHAI] as [ID_TRANGTHAI_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_VUNGKETNOI] as [ID_VUNGKETNOI_KHACH_HANGJoin]
,[KHACH_HANGJoin].[IPGATEWAY] as [IPGATEWAY_KHACH_HANGJoin]
,[KHACH_HANGJoin].[IPLAN] as [IPLAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[IPWAN] as [IPWAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[SVLAN] as [SVLAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[TEN_KHACHHANG] as [TEN_KHACHHANG_KHACH_HANGJoin]
,[KHACH_HANGJoin].[THOIGIAN_CUNGCAP] as [THOIGIAN_CUNGCAP_KHACH_HANGJoin]
,[THIET_BIJoin].[TEN_THIETBI] as [TEN_THIETBI_THIET_BIJoin] 
    FROM [KHACHHANG_THIETBI] as [KHACHHANG_THIETBI] 
    
join [KHACH_HANG] as [KHACH_HANGJoin] on [KHACHHANG_THIETBI].[ID_KHACHHANG] = [KHACH_HANGJoin].[ID_KHACHHANG]
join [THIET_BI] as [THIET_BIJoin] on [KHACHHANG_THIETBI].[ID_THIETBI] = [THIET_BIJoin].[ID_THIETBI] 
     WHERE [KHACHHANG_THIETBI].[ID] = @ID 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACHHANG_THIETBI_GetByID_KHACHHANG]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACHHANG_THIETBI_GetByID_KHACHHANG]
@ID_KHACHHANG int
AS BEGIN
    SELECT 
    
[KHACHHANG_THIETBI].[CONG]
,[KHACHHANG_THIETBI].[ID]
,[KHACHHANG_THIETBI].[ID_KHACHHANG]
,[KHACHHANG_THIETBI].[ID_THIETBI]
,[KHACHHANG_THIETBI].[TOCDO]
,[KHACH_HANGJoin].[CVLAN] as [CVLAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_LOAIDICHVU] as [ID_LOAIDICHVU_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_NHOMKHACHHANG] as [ID_NHOMKHACHHANG_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_TRANGTHAI] as [ID_TRANGTHAI_KHACH_HANGJoin]
,[KHACH_HANGJoin].[ID_VUNGKETNOI] as [ID_VUNGKETNOI_KHACH_HANGJoin]
,[KHACH_HANGJoin].[IPGATEWAY] as [IPGATEWAY_KHACH_HANGJoin]
,[KHACH_HANGJoin].[IPLAN] as [IPLAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[IPWAN] as [IPWAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[SVLAN] as [SVLAN_KHACH_HANGJoin]
,[KHACH_HANGJoin].[TEN_KHACHHANG] as [TEN_KHACHHANG_KHACH_HANGJoin]
,[KHACH_HANGJoin].[THOIGIAN_CUNGCAP] as [THOIGIAN_CUNGCAP_KHACH_HANGJoin]
,[THIET_BIJoin].[TEN_THIETBI] as [TEN_THIETBI_THIET_BIJoin] 
    FROM [KHACHHANG_THIETBI] as [KHACHHANG_THIETBI] 
    
join [KHACH_HANG] as [KHACH_HANGJoin] on [KHACHHANG_THIETBI].[ID_KHACHHANG] = [KHACH_HANGJoin].[ID_KHACHHANG]
join [THIET_BI] as [THIET_BIJoin] on [KHACHHANG_THIETBI].[ID_THIETBI] = [THIET_BIJoin].[ID_THIETBI] 
     WHERE [KHACHHANG_THIETBI].[ID_KHACHHANG] = @ID_KHACHHANG
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACHHANG_THIETBI_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACHHANG_THIETBI_Insert]
 @CONG varchar(50), @ID_KHACHHANG int, @ID_THIETBI int, @TOCDO varchar(50)
AS BEGIN
    INSERT INTO [KHACHHANG_THIETBI](  [CONG] , [ID_KHACHHANG] , [ID_THIETBI] , [TOCDO]) VALUES( @CONG, @ID_KHACHHANG, @ID_THIETBI, @TOCDO)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KHACHHANG_THIETBI_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_KHACHHANG_THIETBI_Update]
 @CONG varchar(50), @ID int, @ID_KHACHHANG int, @ID_THIETBI int, @TOCDO varchar(50)
AS BEGIN
    UPDATE [KHACHHANG_THIETBI] SET  [CONG] = @CONG, [ID_KHACHHANG] = @ID_KHACHHANG, [ID_THIETBI] = @ID_THIETBI, [TOCDO] = @TOCDO WHERE   [ID] = @ID
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_LOAI_DICHVU_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_LOAI_DICHVU_Delete]
  @ID_LOAI_DICHVU int
AS BEGIN
	DELETE dbo.KHACH_HANG WHERE ID_LOAIDICHVU = @ID_LOAI_DICHVU 
    DELETE [LOAI_DICHVU] WHERE    [ID_LOAI_DICHVU] = @ID_LOAI_DICHVU 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_LOAI_DICHVU_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_LOAI_DICHVU_GetAll]
AS BEGIN
    SELECT 
[LOAI_DICHVU].[ID_LOAI_DICHVU]
,[LOAI_DICHVU].[TEN_LOAI_DICHVU] FROM [LOAI_DICHVU] as [LOAI_DICHVU] 
     
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_LOAI_DICHVU_GetByID_LOAI_DICHVU]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_LOAI_DICHVU_GetByID_LOAI_DICHVU]
@ID_LOAI_DICHVU int
AS BEGIN
    SELECT 
    
[LOAI_DICHVU].[ID_LOAI_DICHVU]
,[LOAI_DICHVU].[TEN_LOAI_DICHVU] 
    FROM [LOAI_DICHVU] as [LOAI_DICHVU] 
     
     WHERE [LOAI_DICHVU].[ID_LOAI_DICHVU] = @ID_LOAI_DICHVU 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_LOAI_DICHVU_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_LOAI_DICHVU_Insert]
 @TEN_LOAI_DICHVU nvarchar(50)
AS BEGIN
    INSERT INTO [LOAI_DICHVU](  [TEN_LOAI_DICHVU]) VALUES( @TEN_LOAI_DICHVU)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_LOAI_DICHVU_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_LOAI_DICHVU_Update]
 @ID_LOAI_DICHVU int, @TEN_LOAI_DICHVU nvarchar(50)
AS BEGIN
    UPDATE [LOAI_DICHVU] SET  [TEN_LOAI_DICHVU] = @TEN_LOAI_DICHVU WHERE   [ID_LOAI_DICHVU] = @ID_LOAI_DICHVU
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NGUOI_DUNG_Delete]
  @ID_NGUOIDUNG int
AS BEGIN
	DELETE	dbo.NGUOI_DUNG_QUYEN WHERE	ID_NGUOIDUNG = @ID_NGUOIDUNG
    DELETE [NGUOI_DUNG] WHERE    [ID_NGUOIDUNG] = @ID_NGUOIDUNG 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NGUOI_DUNG_GetAll]
AS BEGIN
    SELECT 
[NGUOI_DUNG].[HO_TEN]
,[NGUOI_DUNG].[ID_DONVI]
,[NGUOI_DUNG].[ID_NGUOIDUNG]
,[NGUOI_DUNG].[SDT]
,[NGUOI_DUNG].[USERNAME]
,[DON_VIJoin].[TEN_DONVI] as [TEN_DONVI_DON_VIJoin] FROM [NGUOI_DUNG] as [NGUOI_DUNG] 
    
join [DON_VI] as [DON_VIJoin] on [NGUOI_DUNG].[ID_DONVI] = [DON_VIJoin].[ID_DONVI] 
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_GetByID_NGUOIDUNG]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NGUOI_DUNG_GetByID_NGUOIDUNG]
@ID_NGUOIDUNG int
AS BEGIN
    SELECT 
    
[NGUOI_DUNG].[HO_TEN]
,[NGUOI_DUNG].[ID_DONVI]
,[NGUOI_DUNG].[ID_NGUOIDUNG]
,[NGUOI_DUNG].[SDT]
,[NGUOI_DUNG].[USERNAME]
,[DON_VIJoin].[TEN_DONVI] as [TEN_DONVI_DON_VIJoin] 
    FROM [NGUOI_DUNG] as [NGUOI_DUNG] 
    
join [DON_VI] as [DON_VIJoin] on [NGUOI_DUNG].[ID_DONVI] = [DON_VIJoin].[ID_DONVI] 
     WHERE [NGUOI_DUNG].[ID_NGUOIDUNG] = @ID_NGUOIDUNG 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NGUOI_DUNG_Insert]
 @HO_TEN nvarchar(50), @ID_DONVI int, @PASSWORD nvarchar(50), @SDT int, @USERNAME nvarchar(50)
AS BEGIN
    INSERT INTO [NGUOI_DUNG](  [HO_TEN] , [ID_DONVI] , [PASSWORD] , [SDT] , [USERNAME]) VALUES( @HO_TEN, @ID_DONVI, @PASSWORD, @SDT, @USERNAME)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_QUYEN_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NGUOI_DUNG_QUYEN_Delete]
  @ID int
AS BEGIN
    DELETE [NGUOI_DUNG_QUYEN] WHERE    [ID] = @ID 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_QUYEN_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NGUOI_DUNG_QUYEN_GetAll]
AS BEGIN
    SELECT 
[NGUOI_DUNG_QUYEN].[ID]
,[NGUOI_DUNG_QUYEN].[ID_NGUOIDUNG]
,[NGUOI_DUNG_QUYEN].[ID_QUYEN]
,[NGUOI_DUNGJoin].[HO_TEN] as [HO_TEN_NGUOI_DUNGJoin]
,[NGUOI_DUNGJoin].[ID_DONVI] as [ID_DONVI_NGUOI_DUNGJoin]
,[NGUOI_DUNGJoin].[SDT] as [SDT_NGUOI_DUNGJoin]
,[NGUOI_DUNGJoin].[USERNAME] as [USERNAME_NGUOI_DUNGJoin]
,[QUYENJoin].[TEN_QUYEN] as [TEN_QUYEN_QUYENJoin] FROM [NGUOI_DUNG_QUYEN] as [NGUOI_DUNG_QUYEN] 
    
join [NGUOI_DUNG] as [NGUOI_DUNGJoin] on [NGUOI_DUNG_QUYEN].[ID_NGUOIDUNG] = [NGUOI_DUNGJoin].[ID_NGUOIDUNG]
join [QUYEN] as [QUYENJoin] on [NGUOI_DUNG_QUYEN].[ID_QUYEN] = [QUYENJoin].[ID_QUYEN] 
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_QUYEN_GetBy_ID_NGUOIDUNG]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_NGUOI_DUNG_QUYEN_GetBy_ID_NGUOIDUNG]
@ID_NGUOIDUNG INT
AS SELECT 
[NGUOI_DUNG_QUYEN].[ID]
,[NGUOI_DUNG_QUYEN].[ID_NGUOIDUNG]
,[NGUOI_DUNG_QUYEN].[ID_QUYEN]
,[NGUOI_DUNGJoin].[HO_TEN] as [HO_TEN_NGUOI_DUNGJoin]
,[NGUOI_DUNGJoin].[ID_DONVI] as [ID_DONVI_NGUOI_DUNGJoin]
,[QUYENJoin].[TEN_QUYEN] as [TEN_QUYEN_QUYENJoin] 
,[QUYENJoin].[ID_QUYEN] as [ID_QUYENJoin] 

FROM [NGUOI_DUNG_QUYEN] as [NGUOI_DUNG_QUYEN]     
join [NGUOI_DUNG] as [NGUOI_DUNGJoin] on [NGUOI_DUNG_QUYEN].[ID_NGUOIDUNG] = [NGUOI_DUNGJoin].[ID_NGUOIDUNG]
join [QUYEN] as [QUYENJoin] on [NGUOI_DUNG_QUYEN].[ID_QUYEN] = [QUYENJoin].[ID_QUYEN] 
WHERE [NGUOI_DUNGJoin].[ID_NGUOIDUNG] = @ID_NGUOIDUNG



GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_QUYEN_GetByID]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NGUOI_DUNG_QUYEN_GetByID]
@ID int
AS BEGIN
    SELECT 
    
[NGUOI_DUNG_QUYEN].[ID]
,[NGUOI_DUNG_QUYEN].[ID_NGUOIDUNG]
,[NGUOI_DUNG_QUYEN].[ID_QUYEN]
,[NGUOI_DUNGJoin].[HO_TEN] as [HO_TEN_NGUOI_DUNGJoin]
,[NGUOI_DUNGJoin].[ID_DONVI] as [ID_DONVI_NGUOI_DUNGJoin]
,[NGUOI_DUNGJoin].[SDT] as [SDT_NGUOI_DUNGJoin]
,[NGUOI_DUNGJoin].[USERNAME] as [USERNAME_NGUOI_DUNGJoin]
,[QUYENJoin].[TEN_QUYEN] as [TEN_QUYEN_QUYENJoin] 
    FROM [NGUOI_DUNG_QUYEN] as [NGUOI_DUNG_QUYEN] 
    
join [NGUOI_DUNG] as [NGUOI_DUNGJoin] on [NGUOI_DUNG_QUYEN].[ID_NGUOIDUNG] = [NGUOI_DUNGJoin].[ID_NGUOIDUNG]
join [QUYEN] as [QUYENJoin] on [NGUOI_DUNG_QUYEN].[ID_QUYEN] = [QUYENJoin].[ID_QUYEN] 
     WHERE [NGUOI_DUNG_QUYEN].[ID] = @ID 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_QUYEN_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NGUOI_DUNG_QUYEN_Insert]
 @ID_NGUOIDUNG int, @ID_QUYEN int
AS BEGIN
    INSERT INTO [NGUOI_DUNG_QUYEN](  [ID_NGUOIDUNG] , [ID_QUYEN]) VALUES( @ID_NGUOIDUNG, @ID_QUYEN)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_QUYEN_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NGUOI_DUNG_QUYEN_Update]
 @ID int, @ID_NGUOIDUNG int, @ID_QUYEN int
AS BEGIN
    UPDATE [NGUOI_DUNG_QUYEN] SET  [ID_NGUOIDUNG] = @ID_NGUOIDUNG, [ID_QUYEN] = @ID_QUYEN WHERE   [ID] = @ID
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_ResetPassword]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_NGUOI_DUNG_ResetPassword]
@ID_Admin int,
@RePassword nvarchar(50),
@ID_NGUOIDUNG int
as begin
	update [dbo].[NGUOI_DUNG] set [PASSWORD] = '12345678' where ID_NGUOIDUNG = @ID_NGUOIDUNG and (select count(*) from [dbo].[NGUOI_DUNG] where ID_NGUOIDUNG = @ID_Admin and [PASSWORD] = @RePassword) >0
end
GO
/****** Object:  StoredProcedure [dbo].[SP_NGUOI_DUNG_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NGUOI_DUNG_Update]
 @HO_TEN nvarchar(50), @ID_DONVI int, @ID_NGUOIDUNG int, @PASSWORD nvarchar(50), @SDT int, @USERNAME nvarchar(50)
AS BEGIN
    UPDATE [NGUOI_DUNG] SET  [HO_TEN] = @HO_TEN, [ID_DONVI] = @ID_DONVI, [PASSWORD] = @PASSWORD, [SDT] = @SDT, [USERNAME] = @USERNAME WHERE   [ID_NGUOIDUNG] = @ID_NGUOIDUNG
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NHOM_KHACH_HANG_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NHOM_KHACH_HANG_Delete]
  @ID_NHOMKHACHHANG int
AS BEGIN
	DELETE dbo.KHACH_HANG  WHERE    [ID_NHOMKHACHHANG] = @ID_NHOMKHACHHANG 
    DELETE [NHOM_KHACH_HANG] WHERE    [ID_NHOMKHACHHANG] = @ID_NHOMKHACHHANG 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NHOM_KHACH_HANG_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NHOM_KHACH_HANG_GetAll]
AS BEGIN
    SELECT 
[NHOM_KHACH_HANG].[ID_NHOMKHACHHANG]
,[NHOM_KHACH_HANG].[TEN_NHOMKHACHHANG] FROM [NHOM_KHACH_HANG] as [NHOM_KHACH_HANG] 
     
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NHOM_KHACH_HANG_GetByID_NHOMKHACHHANG]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NHOM_KHACH_HANG_GetByID_NHOMKHACHHANG]
@ID_NHOMKHACHHANG int
AS BEGIN
    SELECT 
    
[NHOM_KHACH_HANG].[ID_NHOMKHACHHANG]
,[NHOM_KHACH_HANG].[TEN_NHOMKHACHHANG] 
    FROM [NHOM_KHACH_HANG] as [NHOM_KHACH_HANG] 
     
     WHERE [NHOM_KHACH_HANG].[ID_NHOMKHACHHANG] = @ID_NHOMKHACHHANG 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NHOM_KHACH_HANG_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NHOM_KHACH_HANG_Insert]
 @TEN_NHOMKHACHHANG nvarchar(MAX)
AS BEGIN
    INSERT INTO [NHOM_KHACH_HANG](  [TEN_NHOMKHACHHANG]) VALUES( @TEN_NHOMKHACHHANG)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_NHOM_KHACH_HANG_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_NHOM_KHACH_HANG_Update]
 @ID_NHOMKHACHHANG int, @TEN_NHOMKHACHHANG nvarchar(MAX)
AS BEGIN
    UPDATE [NHOM_KHACH_HANG] SET  [TEN_NHOMKHACHHANG] = @TEN_NHOMKHACHHANG WHERE   [ID_NHOMKHACHHANG] = @ID_NHOMKHACHHANG
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_QUYEN_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_QUYEN_Delete]
  @ID_QUYEN int
AS BEGIN
	DELETE dbo.NGUOI_DUNG_QUYEN where [ID_QUYEN] = @ID_QUYEN 
    DELETE [QUYEN] WHERE    [ID_QUYEN] = @ID_QUYEN 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_QUYEN_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_QUYEN_GetAll]
AS BEGIN
    SELECT 
[QUYEN].[ID_QUYEN]
,[QUYEN].[TEN_QUYEN] FROM [QUYEN] as [QUYEN] 
     
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_QUYEN_GetByID_QUYEN]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_QUYEN_GetByID_QUYEN]
@ID_QUYEN int
AS BEGIN
    SELECT 
    
[QUYEN].[ID_QUYEN]
,[QUYEN].[TEN_QUYEN] 
    FROM [QUYEN] as [QUYEN] 
     
     WHERE [QUYEN].[ID_QUYEN] = @ID_QUYEN 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_QUYEN_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_QUYEN_Insert]
 @TEN_QUYEN nvarchar(255)
AS BEGIN
    INSERT INTO [QUYEN](  [TEN_QUYEN]) VALUES( @TEN_QUYEN)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_QUYEN_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_QUYEN_Update]
 @ID_QUYEN int, @TEN_QUYEN nvarchar(255)
AS BEGIN
    UPDATE [QUYEN] SET  [TEN_QUYEN] = @TEN_QUYEN WHERE   [ID_QUYEN] = @ID_QUYEN
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_THIET_BI_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_THIET_BI_Delete]
  @ID_THIETBI int
AS BEGIN
	DELETE dbo.KHACHHANG_THIETBI WHERE [ID_THIETBI] = @ID_THIETBI 
    DELETE [THIET_BI] WHERE    [ID_THIETBI] = @ID_THIETBI 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_THIET_BI_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_THIET_BI_GetAll]
AS BEGIN
    SELECT 
[THIET_BI].[ID_THIETBI]
,[THIET_BI].[TEN_THIETBI] FROM [THIET_BI] as [THIET_BI] 
     
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_THIET_BI_GetByID_THIETBI]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_THIET_BI_GetByID_THIETBI]
@ID_THIETBI int
AS BEGIN
    SELECT 
    
[THIET_BI].[ID_THIETBI]
,[THIET_BI].[TEN_THIETBI] 
    FROM [THIET_BI] as [THIET_BI] 
     
     WHERE [THIET_BI].[ID_THIETBI] = @ID_THIETBI 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_THIET_BI_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_THIET_BI_Insert]
 @TEN_THIETBI nvarchar(MAX)
AS BEGIN
    INSERT INTO [THIET_BI](  [TEN_THIETBI]) VALUES( @TEN_THIETBI)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_THIET_BI_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_THIET_BI_Update]
 @ID_THIETBI int, @TEN_THIETBI nvarchar(MAX)
AS BEGIN
    UPDATE [THIET_BI] SET  [TEN_THIETBI] = @TEN_THIETBI WHERE   [ID_THIETBI] = @ID_THIETBI
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_TRANG_THAI_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_TRANG_THAI_Delete]
  @ID_TRANGTHAI int
AS BEGIN
	DELETE dbo.KHACH_HANG WHERE    [ID_TRANGTHAI] = @ID_TRANGTHAI 
    DELETE [TRANG_THAI] WHERE    [ID_TRANGTHAI] = @ID_TRANGTHAI 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_TRANG_THAI_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_TRANG_THAI_GetAll]
AS BEGIN
    SELECT 
[TRANG_THAI].[ID_TRANGTHAI]
,[TRANG_THAI].[TEN_TRANGTHAI] FROM [TRANG_THAI] as [TRANG_THAI] 
     
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_TRANG_THAI_GetByID_TRANGTHAI]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_TRANG_THAI_GetByID_TRANGTHAI]
@ID_TRANGTHAI int
AS BEGIN
    SELECT 
    
[TRANG_THAI].[ID_TRANGTHAI]
,[TRANG_THAI].[TEN_TRANGTHAI] 
    FROM [TRANG_THAI] as [TRANG_THAI] 
     
     WHERE [TRANG_THAI].[ID_TRANGTHAI] = @ID_TRANGTHAI 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_TRANG_THAI_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_TRANG_THAI_Insert]
 @TEN_TRANGTHAI nvarchar(50)
AS BEGIN
    INSERT INTO [TRANG_THAI](  [TEN_TRANGTHAI]) VALUES( @TEN_TRANGTHAI)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_TRANG_THAI_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_TRANG_THAI_Update]
 @ID_TRANGTHAI int, @TEN_TRANGTHAI nvarchar(50)
AS BEGIN
    UPDATE [TRANG_THAI] SET  [TEN_TRANGTHAI] = @TEN_TRANGTHAI WHERE   [ID_TRANGTHAI] = @ID_TRANGTHAI
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_VUNGKETNOI_Delete]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_VUNGKETNOI_Delete]
  @ID_VUNGKETNOI int
AS BEGIN
	DELETE dbo.KHACH_HANG WHERE    [ID_VUNGKETNOI] = @ID_VUNGKETNOI 
    DELETE [VUNGKETNOI] WHERE    [ID_VUNGKETNOI] = @ID_VUNGKETNOI 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_VUNGKETNOI_GetAll]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_VUNGKETNOI_GetAll]
AS BEGIN
    SELECT 
[VUNGKETNOI].[ID_VUNGKETNOI]
,[VUNGKETNOI].[TEN_VUNGKETNOI] FROM [VUNGKETNOI] as [VUNGKETNOI] 
     
    
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_VUNGKETNOI_GetByID_VUNGKETNOI]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_VUNGKETNOI_GetByID_VUNGKETNOI]
@ID_VUNGKETNOI int
AS BEGIN
    SELECT 
    
[VUNGKETNOI].[ID_VUNGKETNOI]
,[VUNGKETNOI].[TEN_VUNGKETNOI] 
    FROM [VUNGKETNOI] as [VUNGKETNOI] 
     
     WHERE [VUNGKETNOI].[ID_VUNGKETNOI] = @ID_VUNGKETNOI 
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_VUNGKETNOI_Insert]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_VUNGKETNOI_Insert]
 @TEN_VUNGKETNOI nvarchar(50)
AS BEGIN
    INSERT INTO [VUNGKETNOI](  [TEN_VUNGKETNOI]) VALUES( @TEN_VUNGKETNOI)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_VUNGKETNOI_Update]    Script Date: 2017-09-26 3:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

;CREATE PROC [dbo].[SP_VUNGKETNOI_Update]
 @ID_VUNGKETNOI int, @TEN_VUNGKETNOI nvarchar(50)
AS BEGIN
    UPDATE [VUNGKETNOI] SET  [TEN_VUNGKETNOI] = @TEN_VUNGKETNOI WHERE   [ID_VUNGKETNOI] = @ID_VUNGKETNOI
END;


GO
USE [master]
GO
